<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600102733919-32964lod6a4ls4le6sno4frfbebtltg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600102733919-32964lod6a4ls4le6sno4frfbebtltg6</string>
	<key>API_KEY</key>
	<string>AIzaSyCqpNVBYShFiLJv95uSVmseiw8VqsywiOw</string>
	<key>GCM_SENDER_ID</key>
	<string>600102733919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CLC.ClickerGame</string>
	<key>PROJECT_ID</key>
	<string>madalinski-clickergame</string>
	<key>STORAGE_BUCKET</key>
	<string>madalinski-clickergame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600102733919:ios:b0ff48a3dfaa87115133ea</string>
</dict>
</plist>